*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-color: #f4f6f9;
  padding: 2%;
  font-family: Montserrat;
}

.wrapper {
  display: flex;
  background: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  padding: 2%;
}

.my-photo {
  max-width: 100%;
}

.about-me-container {
  margin-left: 20px;
  padding: 2%;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #727882;
}
.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}
.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.tech-skills-container {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 55px;
}
.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 14px;
}
.tech-skills-text {
  color: #b3b7bc;
}
.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.soft-skills-container {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 55px;
}
.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 14px;
}
.soft-skills-text {
  color: #b3b7bc;
}
.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #1c1c1c;
  margin-bottom: 23px;
}
.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}
.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  color: #595959;
}
.info-container {
  margin-bottom: 65px;
}
.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-link {
  font-size: 16px;
  text-decoration-skip-ink: none;
  font-weight: 700;
  line-height: 26px;
  color: #595959;
}
.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.dots {
  flex-grow: 1;
  border-bottom: 2px dotted #a8a8a8;
}
.projects-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 700;
}
.projects-container {
  padding-right: 50px;
  margin-bottom: 55px;
}
.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.profession-company {
  color: #ff6b08;
}
.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.profession-divider {
  color: #000000;
}
.profession-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}
.profession-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.university-name {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}
.university-oc—Åupation {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 14px;
}
.education-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
